.container {
    color: white;
    background: url('../../img/bg-superman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    position: relative;
}

//toolbar element
.toolbar-background {
    background: #484C61;
}
.toolbar-content {
    color: white;
}
//navigation drawer icon
.bar-button {
    color: white;
}
//search bar element
.toolbar ion-searchbar .searchbar-input {
    background: white;
}

//display alarm section
.displayAlarm {
    width: 100%;
    height: 59%;
    display: inline-block;
    border-bottom: 1px solid white;
}
.noAlarm {
    width: 100%;
    margin: 0 auto;
    margin-top: 30%;
    display: block;
    font-size: 3em;
    text-align: center;
}
.noAlarm .noAlarmLabel {
    font-size: 35%;
    color: white;
}

//top user bar section
.displayTopUser {
    width: 100%;
    height: 10%;
    display: inline-flex;
}
.topUserImg {
    width: 14%;
    height: 100%;
    margin-top: 0.8%;
    margin-left: 4%;
}
.displayTopName {
    margin-top: 5%;
    width: auto;
    margin-left: 5%;
    text-align: center;
}
.displayTopScore {
    margin-top: 5%;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

//add alarm section
.addAlarm {
    width: 100%;
    height: 30%;
    border-top: 1px solid white;
}
.addAlarmBtn {
    width: 50%;
    height: 100%;
    background: transparent;
    margin: 0 auto;
    margin-top: 2.5%;
    display: -webkit-box;
    -webkit-transition: padding 0.1s;
    transition: padding 0.1s;
}
.addAlarmBtn.disable-hover.button.button-default.activated {
    background-color: transparent;
    opacity: 0.7;
    padding: 1.2em;
}
.button:hover:not(.disable-hover) {
    background-color: transparent;
}